<!-- jinja2(advanced html)
Navigation bar in case we add more service!.
. -->

<nav class="navigation-default">
    <div class="nav-wrapper">
        <div class="left-nav">
         <a href="{{ url_for('home_bp.http') }}">Map request</a>
        </div>
    </div>
</nav>
